@font-face {
    font-family: 'Dank Mono Regular';
    src: url('font/DankMono-Regular.ttf');
}

@font-face {
    font-family: 'Dank Mono Italics';
    src: url('font/DankMono-Italic.ttf');
}

@font-face {
    font-family: 'Cascadia';
    src: url('font/Cascadia.ttf')
}

div {
    font-family: 'Cascadia';
    font-size: 15px;
}